<header class="navbar navbar-fixed-top navbar-inverse">	
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "portal", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Ana Sayfa", 	  root_path %></li>
					<li><%= link_to "Yardım",    	  help_path %></li>
					<li><%= link_to "Yeni Kullanıcı", signup_path %></li>
					<li><%= link_to "Giriş", 		  '#' %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>